/* Some Resets */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

:root {
  --blue: #003e69;
  --red: #c4161c;
  --orange: #ff6600;
  --cyan: #5f9bd9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: cornflowerblue;
  font-size: 14px;
  font-family: "Droid Arabic Kufi", sans-serif;
}
a {
  text-decoration: none;
}
li {
  line-height: 1.8;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: #000 0 1px 10px;
}
.line {
  background-color: var(--blue);
  height: 10px;
}
button,
input,
select {
  font-family: "Droid Arabic Kufi", sans-serif;
}
button {
  cursor: pointer;
}
.form-control,
select {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  margin: 10px 0;
  border: solid 2px #eee;
  border-radius: 4px;
  outline-color: var(--orange);
}

/* -----------------------------------------------Start Home Page----------------------------------------------------- */

/* Start Header */
header {
  background-image: url("../img/sky.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 200px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 0;
}
header .top-header {
  /* Top Header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 10px;
}
header .top-header .logo-brand {
  order: 2;
}
header .top-header img {
  width: 80px;
  height: 150;
}
header .top-header p {
  font-size: 25px;
  color: var(--blue);
  letter-spacing: 5px;
}
header .top-header p span {
  color: var(--red);
}
header .top-header .btn {
  color: white;
  background-color: var(--orange);
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 20px;
}
header .top-header .btn:hover {
  background-color: black;
}
header .navbar {
  /* Navbar */
  list-style: none;
  margin-right: 50px;
}
header .navbar li {
  display: inline-block;
}
header .navbar a {
  padding: 10px 20px;
  color: white;
  background-color: var(--blue);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: 0.2s background-color;
  border-bottom: solid 2px var(--red);
}
header .navbar a:hover {
  background-color: var(--red);
}
/* End Header */

/* Start Slideshow */
.slideshow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
figure {
  position: relative;
  float: left;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  width: 45%;
  overflow: hidden;
  display: block;
  text-align: center;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
}

figcaption {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 100;
  padding: 15px;
  font-weight: 100;
}

.im-gonna-change ul {
  transition: opacity 0.35s, transform 0.35s;
  list-style-image: url(../img/arrow.png);
  list-style-position: inside;
}
.im-gonna-change ul li a {
  color: white;
  font-size: 18px;
  opacity: 1;
}
.im-gonna-change ul li a:hover {
  text-decoration: underline;
}

.im-gonna-change figcaption {
  transition: 0.35s ease-in;
}

.im-gonna-change ul {
  position: absolute;
  opacity: 0;
}
.im-gonna-change p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  opacity: 0;
}

.im-gonna-change:hover figcaption {
  transform: translate3d(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  /* transform: scale(0.8, 0.8); */
}

.im-gonna-change:hover ul {
  color: #fff;
  opacity: 1;
  transform: translate3d(0, 10px, 0);
}

/* End Slideshow */

/* Start Footer */
footer {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer h3 {
  margin-top: 20px;
  color: var(--blue);
  display: flex;
}
footer .box {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
footer .box h4 a {
  color: var(--cyan);
  text-decoration: underline;
}
footer .box ul {
  list-style-image: url(../img/arrow.png);
  list-style-position: inside;
  margin-top: 20px;
}
footer .box ul p {
  color: var(--orange);
  font-weight: bold;
  border-bottom: dashed 1px #aaa;
  width: 100px;
}
footer .box ul a {
  color: var(--cyan);
}
footer .box form input {
  padding: 10px;
  border-radius: 4px;
  border: #eee solid 1px;
  outline: none;
  width: 150px;
}
footer .box form .submit {
  padding: 10px;
  border: solid 1px var(--blue);
  color: white;
  background-color: var(--blue);
}
footer .box .btn {
  color: white;
  background-color: var(--orange);
  padding: 10px;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
}
footer .box .btn:hover {
  background-color: black;
}
footer .box img {
  width: 100%;
  display: block;
}
.last-section {
  background-color: var(--blue);
  padding: 10px 0;
}
.last-section .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last-section .inner p {
  color: white;
  margin-right: 35px;
}
.last-section .inner .navbar {
  margin-left: 35px;
  list-style: none;
}
.last-section .inner .navbar li {
  display: inline-block;
}
.last-section .inner .navbar a {
  color: var(--orange);
  padding: 10px;
}
/* End Footer */

/* -----------------------------------------------End Home Page----------------------------------------------------- */

/* -----------------------------------------------Start Request Page----------------------------------------------------- */
.request {
  background-color: #fff;
  min-height: 800px;
}
.request .inner {
  width: 800px;
  margin: auto;
}
.request .inner .heading {
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 30px;
  color: var(--orange);
}
.request .inner .form-btn {
  background-color: var(--blue);
  color: white;
  border: solid 2px var(--blue);
}
.request .inner .form-btn:hover {
  background-color: var(--orange);
  color: var(--blue);
}
.request .inner select {
  color: #555;
}
/* -----------------------------------------------End Request Page----------------------------------------------------- */

/* -----------------------------------------------Start Gasatec Page----------------------------------------------------- */
.about {
  background-color: white;
  margin: auto;
  text-align: center;
}
.about img {
  padding-top: 10px;
}
/* -----------------------------------------------End Gasatec Page----------------------------------------------------- */

/* -----------------------------------------------Start Fuel Page----------------------------------------------------- */
.fuel {
  background-color: white;
  margin: auto;
  text-align: center;
}
.fuel img {
  padding-top: 10px;
}
/* -----------------------------------------------End Fuel Page----------------------------------------------------- */

/* -----------------------------------------------Start News Page----------------------------------------------------- */
.news {
  background-color: white;
  margin: auto;
  text-align: center;
}
.news img {
  padding-top: 10px;
}
/* -----------------------------------------------End News Page----------------------------------------------------- */

/* -----------------------------------------------Start Contact Page----------------------------------------------------- */
.contact {
  background-color: white;
  margin: auto;
  text-align: center;
}
.contact img {
  padding-top: 10px;
}
/* -----------------------------------------------End Contact Page----------------------------------------------------- */

/* -----------------------------------------------Start test activites Page----------------------------------------------------- */
.test-activites {
  background-color: #fff;
  padding: 25px;
}
.test-activites .heading {
  color: var(--blue);
}
.test-activites .body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 20px 0;
}
.test-activites .body .orange-text {
  color: var(--orange);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
.test-activites .body .blue-text {
  color: var(--blue);
  font-size: 16px;
  margin-bottom: 10px;
}
/* -----------------------------------------------End test activites Page----------------------------------------------------- */


/* -----------------------------------------------Start test centers Page----------------------------------------------------- */
.test-centers {
  background-color: #fff;
  padding: 25px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-family: "Droid Arabic Kufi", sans-serif;
}
th {
  color: var(--orange);
}
td {
  color: var(--blue);
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
}

/* -----------------------------------------------End test centers Page----------------------------------------------------- */

/* -----------------------------------------------Start testing proccess Page----------------------------------------------------- */
.testing-proccess {
  background-color: #fff;
  padding: 35px;
}
.testing-proccess .hero-img {
  text-align: center;
}
.testing-proccess .heading {
  color: var(--blue);
  font-size: 20px;
}
.testing-proccess .orange-text {
  color: var(--orange);
  font-size: 20px;
}
.testing-proccess .body {
  padding: 20px;
}
.testing-proccess .body ul {
  list-style-type: decimal;
  list-style-position: inside;
}
.testing-proccess .body ul li {
  font-size: 16px;
  line-height: 2;
} 
/* -----------------------------------------------End testing proccess Page----------------------------------------------------- */


/* -----------------------------------------------Start conversion-components Page----------------------------------------------------- */
.conversion-components {
  background-color: white;
  padding: 25px;
}
.conversion-components .hero-img {
  text-align: center;
}
.conversion-components .heading {
  color: var(--blue);
  font-size: 18px;
}
.conversion-components .body {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.conversion-components .body ul {
  list-style-position: inside;
  list-style-type: decimal;
}
.conversion-components .body ul li {
  color: var(--orange);
  font-size: 16px;
}
/* -----------------------------------------------End conversion-components Page----------------------------------------------------- */

/* ----------------------------------------------Start conversion-proccess Page----------------------------------------------------- */
.conversion-proccess {
  background-color: #fff;
  padding: 20px;
}
.conversion-proccess .hero-img {
  text-align: center;
}
.conversion-proccess .heading {
  color: var(--blue)
}
.conversion-proccess .body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  padding: 20px 0;
}
.conversion-proccess .body .orange-text {
  color: var(--orange);
  margin-top: 20px;
}
.conversion-proccess .body ul {
  margin-top: 10px;
  list-style-type: square;
  list-style-position: inside;
}
.conversion-proccess .body ul li {
  color: var(--blue);
}
/* -----------------------------------------------End conversion-proccess Page----------------------------------------------------- */



/* -----------------------------------------------Start Safety Factors Page----------------------------------------------------- */
.safety-factors {
  background-color: #fff;
  padding: 20px;
}
.safety-factors .hero-img {
  text-align: center;
}
.safety-factors .heading {
  color: var(--blue);
  margin-top: 20px;
  margin-bottom: 20px;
}
.safety-factors .orange-text {
  color: var(--orange);
  margin-bottom: 10px;
}
.safety-factors .body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}
.safety-factors .body .col:last-child .hero-img:first-child {
  margin-bottom: 100px;
}
.safety-factors .body .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* ----------------------------------------------End Safety Factors Page----------------------------------------------------- */